.aboutSec {
  display: flex;
  justify-content: center;
  margin-top: 225px;
  margin-bottom: 50px;
}

.aboutSec h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.cardShows {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.cardShows .card {
  flex: 1 1 20px;
  max-width: 300px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .cardShows .card {
    flex: 1 1 50%;
    max-width: 50%;
  }
}
