/* AboutMePage.css */
.aboutSec {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.aboutSec h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  /* text-shadow: 2px 2px rgb(85, 84, 84); */
}

.cardShows {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.cardButton {
  width: 100%;
}

.card img {
  height: 200px; /* Set the height you desire */
  width: 100%;
  object-fit: cover;
}

.cardShows .card {
  flex: 1 1 calc(25% - 40px);
  max-width: 300px;
  margin: 10px 0;
  background-color: rgb(246, 246, 246);
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  .cardShows .card {
    flex: 1 1 50%;
    max-width: 80%;
  }
  .cardText {
    font-size: small;
  }
  .cardHead {
    font-size: medium;
  }
  .cardButton {
    width: 100%;
  }
}
