.SeniorProject{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SeniorProject-bg{
    background-color: rgba(0, 0, 0, 0.826);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.SeniorProject-content{
    position: relative;
    max-width: 1200px;
    background-color: black;
    overflow-y: auto;
    height: 100vh;
}

.SeniorProject-content img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 120px);
    margin-left: auto;
    margin-right: auto
}

.SeniorProject-content p {
    color: white;
}