.homeSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  padding-top: 150px;
}

.aboutMetxt {
  width: 70%;
  animation: slideIn 1s ease-in-out forwards;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.aboutMetxt p {
  font-size: large;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .aboutMetxt p {
    font-size: 0.5rem; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .aboutMetxt p {
    font-size: 0.1rem; /* Further adjusted font size for very small screens */
  }
}