.homeSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
}

.downloadButton {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  animation: slideIn 1s ease-in-out forwards;
}

.download {
  font-weight: bolder;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.download:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.download:active {
  color: #000;
}

.download:active:after {
  background: transparent;
}

.download:hover:before {
  opacity: 1;
}

.download:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0088ff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.aboutMetxt {
  width: 70%;
  animation: slideIn 1s ease-in-out forwards;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding-top: 20px;
}

.aboutMetxtHead {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: italic;
  width: 70%;
  animation: slideIn 1s ease-in-out forwards;
  /* text-shadow: 2px 2px rgb(85, 84, 84); */
}

.aboutMetxt p {
  font-size: large;
}

.animationName::before {
  content: "My Name Is Treepaech Treechan";
  animation: animate infinite 7s;
}

@keyframes animate {
  0% {
    content: "My Name Is Treepaech Treechan";
  }

  50% {
    content: "I Am A New Graduate";
  }

  75% {
    content: "From the Faculty of Computer Engineering";
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .aboutMetxt p {
    font-size: 0.5rem; /* Adjusted font size for smaller screens */
  }

  .homeSec {
    padding-top: 60px;
  }

  .downloadButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    animation: slideIn 1s ease-in-out forwards;
  }
}

@media (max-width: 480px) {
  .aboutMetxt p {
    font-size: 0.1rem; /* Further adjusted font size for very small screens */
  }

  .downloadButton {
    margin-top: 30px;
  }
}
