.homeSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(180, 217, 197, 1) 48%,
    rgba(148, 187, 233, 1) 100%
  );
}

.aboutMetxt {
  width: 70%;
  animation: slideIn 1s ease-in-out forwards;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.aboutMetxt p {
  font-size: large;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .aboutMetxt p {
    font-size: 1.2rem; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .aboutMetxt p {
    font-size: 1rem; /* Further adjusted font size for very small screens */
  }
}