.nav-link:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  color: #ffffff;
}

.nav-link {
  transition: all 0.3s ease;
  font-weight: bold;
  margin-right: 30px
}

.HeadNavbar{
  font-weight: bold;
}

.contactButton{
  font-weight: bold;
}