.sendButton{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: large;
}

.contactTitle {
    font-weight: bold;
}

.form-container{
    font-weight: bold;
}

.contact{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}